@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Galdeano&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #45614f;
    font-family: 'Galdeano';
}

header.container {
    background-color: #222e26;
    padding-inline: 16px;
}

nav.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a.logo-head > img {
    width: 90px;
}

.nav-list {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-list > li > a {
    font-size: 18px;
    color: #f69832;
    padding-block: 16px;
    text-decoration: none;
}

#burguer {
    display: none;
    cursor: pointer;
    font-size: 40px;
    color: #f69832;
}

@media (max-width: 750px) {
    #burguer {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #222e26;
        clip-path: circle(100px at 90% -10%);
        transition: 0.5s ease-out;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        pointer-events: none;
    }

    .nav-list > li > a {
        font-size: 1.5em;
    }

    /* Estilos ativos */

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -10%);
        pointer-events: all;
    }
}

/* Página inicial */


.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-row: 1 / span 3;
    grid-column: 1 / span 6;

    display: flex;
    justify-content: center;
    align-items: center;
}

.div1 > img {
    width: 380px;
    height: 110px;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 5;

    display: flex;
    justify-content: center;
}

.div2 > img {
    width: 120px;
}

.div3 {
    grid-row: 4 / span 4;
    grid-column: 3 / span 4;

    padding: 10px;
    font-size: 1.2em;
    color: #f69832;
}

.div4 {
    grid-row: 8 / span 1;
    grid-column: 2 / span 2;

    display: flex;
    align-items: center;
    width: 130px;

    text-decoration: none;
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    background-color: #92290c;
    color: #f69832;
    border-radius: 10px;
}

.div5 {
    grid-row: 8 / span 1;
    grid-column: 4 / span 2;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;

    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    background-color: #92290c;
    color: #f69832;
    border-radius: 10px;
}
        